body{
    margin: 0px;
}
.head{
    width: 100%;height: 25px;background-color: #663D00;
}
.nav{
font-size: 25px;display: flex;justify-content:space-around;list-style: none;align-items: center;
}
.nav a{
text-decoration: none;color: black;
}
.Products div{
width:270px;height:425px;background-color: white;border-radius: 18px;display: flex;flex-direction: column;
align-items: center;justify-content: center;padding: 20px;text-align: center;

}.Products div button{
background-color: green;color: white;width: 100px;height: 35px;border-radius:7px;margin-top: 5px;
}
.Products{
display: flex;gap: 10px;width: 100%;
height: 600px;justify-content: space-evenly;align-items: center;
}
.Products h1{
text-align: center;
}
.Products  button:hover{
background-color: orange;
}
.our{display: flex;flex-direction: column; background-color: #FFAF6699;text-align: center;

}
.our h1{
border-bottom: 2px solid orange;padding: 8px;width: 50%;text-align: center;margin: auto;
}
.our:hover{
background-color: #BBF4B7;
}
.bour{
background-color: #E07716;display: flex;justify-content: space-around;height: 215px;align-items: center;
}
.bour:hover{
background-color: green;
}
.star{
display: flex;justify-content: space-around;align-items: center;padding: 25px;margin: 50px;
}
.star div{
display: flex;flex-direction: column;width: 247px;height: 235px;text-align: center;align-items: center;
}

#Get{
width: 90%;margin: auto;border-radius: 15px;
}
#Get h1{
margin-bottom: 0px;
}
.star h1{
color: #E07716; 
}
.why h1{
color: #E07716;
}
.why{
display: flex;justify-content:space-around;align-items: center;height: 400px;
}
.why div{
display: flex;align-items: center;text-align: center;flex-direction: column;
}
.beframe{
text-align: center;
}
.acont{
display: flex;justify-content: space-evenly;
}
.acont p{
height: 274px;width: 550px;
}
.panel{
margin: auto;border-bottom: 2px solid orange;padding: 8px;width: 50%;text-align: center;
}
.add{
    width: 273px;display: flex;flex-direction: column;gap: 16px;
}
.request{
    display: flex;width: 512px;border-radius: 7px;height: 200px;align-items: center;
    flex-direction: column;background-color: #D6F8D4;gap: 20px;padding: 20px;
    padding-top: 45px;padding-bottom: 45px;
}
.request:hover{
    background-color: #FFB067;
}
.request input{
    font-size: 17px;border-radius: 7px;
}
.fi,.se{
    width: 200px;
}
.th,.fo{
    width: 418px;
}
.request div{
gap: 10px;display: flex;
}
.request button{
background-color: green;
color: white;width: 200px;height: 35px;border-radius:7px;margin-top: 5px;
}
.Contact,.Message{
flex-direction: column;display: flex;
}.Contact h1,.Message h1{
text-align: center;
}
.Connect{
display: flex;justify-content: space-between;border-radius: 7px;
border: 2px solid orange;width: 70%;padding: 40px;margin: auto;margin-top: 45px;
}
.main div{
display: flex;flex-direction: column;align-items: center;
width:260px;height: 240px;padding: 7px;
}
.main h3{
margin: 6px;text-align: center;
}
.main{
display: flex; gap:12px;border:2px solid gray;border-right: 0px;border-left: 0px;
}
.main h2{
margin: 4px;
}
.main5,.main3,.main4,.main2{
gap: 12px;
}
.company{
display: flex;justify-content: center;gap:45px;margin: 25px;
}
.brand{
margin: 30px;
}
.brand h2{
text-align: center;margin: auto;border-bottom: 2px solid orange;padding: 8px;width: 50%;
}
.company img{
width: 150px;height:95px;
}
.main1{
text-align: center;
}.main3,.main4,.main2,.main1{
border-right: 2px solid gray;
}
.footer{
background-color: #663D00;height: 48px;display: flex;margin: 0px; align-items: center;justify-content: space-around;
color: white;}
.fbox{position: relative;
    width: 100vw;height: 600px;
    display: flex;flex-direction: column;justify-content: space-between;
}
.sebox{position: relative;color: white;
    text-align: center;display: flex;flex-direction: column;align-items: center;justify-content: center;
    width:99%;height: 340px;background-color: red;border-radius: 15px;background-image: url(assests/sch.png);
background-size:cover;background-repeat: no-repeat; }
.thbox{position: relative;
    width: 99%;height: 250px;background-color: blue; border-radius: 15px;border-top-right-radius: 0px;
    background-image: url(assests/schange.png);background-size:cover;color: white;
}
.extra{
    position: absolute;top: -80px;height: 70.5px;left:50%;width:49.35%;background-color: blue;
   border-top: 10px solid white;border-left: 10px solid white;
   border-top-left-radius: 25px;background-image: url(assests/schhh.png);
   background-size: cover;
}
.sebox p,.thbox p{
    font-size: 55px;
}
.ran{
    display: flex;flex-direction: column;position: absolute;left:35px;
}
.extra div{
    width: 257px;height: 245px;background-color: rgba(0,0, 0, 0.7);border-radius: 15px;display: flex;flex-direction: column;
    gap:5px;justify-content: center;align-items: center;position: absolute;left:200px;top:30px;
}
.extra div input{
    border-radius: 6px;font-size: 16px;
}.extra div button{
    background-color: orange;font-size: 16px;color: white; border-radius: 6px;
}
.Call{
display: flex;gap:8px; margin:auto;border-radius: 15px;margin-top: 20px;
width:810px;height: 76px;align-items: center;justify-content: space-evenly;background-color: #FFE5B5;
}
.Call:hover{
background: linear-gradient(#FFFFFF,#FFB067);
}

.arrow{
text-align: center;margin:12px;margin-bottom: 25px;
}


.social{
margin:35px;display: flex;justify-content: center;gap: 25px;
}
.circle1 {
height: 150px;width: 150px;border-radius:50% 50%;background-color:#BBF4B7;padding: 10px;display: flex;
justify-content: center;align-items: center;flex-direction: column;
}
.circle1 image{
width: 150px;height: 150px;
}
.box{
height: 180px;width: 180px;border: 5px solid 
#0B9300; display: flex;justify-content: center;align-items: center;}
#b1{
border-top-left-radius: 180px;border-top-right-radius: 180px;
border-bottom: 0px;border-right: 0px;
}

#b2{
border-bottom-left-radius: 180px;border-bottom-right-radius: 180px;border-top: 0px;
border-left: 0px;border-right: 0px;
}
.bbox{
display: flex;justify-content: center;margin:45px;
}
#b3 {
border-top-left-radius: 180px;
border-top-right-radius: 180px;
border-bottom: 0px;
border-right: 0px;
border-left: 0px;
}
#b4 {
border-bottom-left-radius: 180px;
border-bottom-right-radius: 180px;
border-top: 0px;
border-left: 0px;
}
.frame{
background-image: url(assests/f2-removebg-preview.png);width:99%;height:380px;background-size:cover;
background-position: center;background-repeat: no-repeat;display: flex;align-items:center; 
margin: 10px;

}
.frame:hover{
background-image: url(assests/f1-removebg-preview.png);
}
.iframe div{display: flex;flex-direction: column;text-align:center;align-items:center;width: 100px;height: 300px;

}
.iframe{
justify-content:space-evenly;width:920px;margin: auto;height:530px;
display: flex;align-items:center; gap: 141px;
}
.logo{
display: flex;justify-content: center;gap:36px;
}
.client{
margin: 50px;
}
.client h1{
text-align: center;margin: auto;border-bottom: 2px solid orange;padding: 8px;width: 50%;
}
#b1:hover,#b2:hover,#b3:hover,#b4:hover{
border-color: orange;
}
.circle1:hover{
background-color:#FFD890;
}